<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">
    <!--Creación de la dependencia-->
    <bean id="myReport" class="com.enterprise.models.Report"></bean>

    <!--Este bean ayuda a crear dependiendo de la clase que se le especifique -->
    <bean id="myEmployee" class="com.enterprise.models.Directory">
        <!--Inyección de dependencias con un constructor-->
        <constructor-arg ref="myReport"></constructor-arg>

        <!--Inyección de campos-->
        <property name="email" value="directory2015@company.com"></property>

        <property name="companyName" value="Uncle Liquor"></property>
    </bean>

    <bean id="mySecretary" class="com.enterprise.models.Secretary">
        <!--Inyección de dependencias con un método setter-->
        <property name="newReport" ref="myReport"></property>

        <!--Inyección de campos-->
        <property name="email" value="remnyachizot2015@company.com"></property>
        
        <property name="companyName" value="Uncle Liquor"></property>
    </bean>
</beans>